h1{
    color: rgb(82, 118, 226);
    font-size: 50px;

}
body{
    text-align: center;
    color: rgb(82, 118, 226);
    border: 10px solid rgb(82, 118, 226);
    box-shadow: 2px 2px 4px rgba(0, 0, 0.8, 0.8);

}
/*多分全体*/
html{
    background-color: rgb(255, 255, 255);
    padding: 50px;
}
/*期限タスク削除*/
th{
    border-right: solid 3px rgb(82, 118, 226);
}
/*タスク*/
td{
    border: 1px solid rgb(82, 118, 226);
}
